@import "https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap";

:root {
    --cor-roxo: #7159c1;
    --cor-black: rgba(0, 0, 0, 0.820);
    --cor-verde: #61ac5e;
    }


* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    
    
}

body {
    background: var(--cor-black);
}

body header {
    text-align: center;
    height: 100%;
    padding: 30px;
    font-family: 'Roboto', 'sans-serif';
}

.logotipo img {
    width: 0px;
    position: absolute;
    top: 5px;
    left: 30px;

}

.links a{
    font-size: 20px;
    text-decoration: none;
    color: #ffffff;
    padding: 30px;

}

.links a:hover {
    color: var(--cor-verde);
    transition: 0.5s;
}

section {
    text-align: center;
    padding-top: 20px;
    
}

section h1 {
    padding-bottom: 30px;
    font-size: 40px;
    text-align: center;
    color: #fff;
}

section p{
    text-align: justify;
    margin: 20px 30px;
    color: #fff
    
}

.lista{
    text-align: justify;
    margin: 0 30px;
    padding: 20px;
    color: #fff
}

.logo-content img {
    width: 190px;
}

.links-footer{
    text-align: center;
    
}

.links-footer a{
    font-size: 30px;
    color: #fff;
    padding: 0 10px;
    text-decoration: none;
}

.links-footer a:hover{
    font-size: 30px;
    color: var(--cor-verde);
    padding: 0 10px;
    text-decoration: none;
    transition: 1s;
}

/* ====CARDS==== */

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px 5px;

}

.card {
    padding: 0 20px;

}
